/** @format */

body {
  background: rgba(88, 121, 243, 1);
}

main {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4% !important;
  height: 100vh;
  color: white;
  line-height: 1.2 !important;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 2000px;
  margin: auto;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

@media (max-width: 720px) {
  h1 {
    padding: 0 4%;
  }
}
