/** @format */

.nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.item {
  padding: 20px 10px 6px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.itemActive::after {
  content: "";
  background: var(--primary-bg-color);
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.closer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 16px;
  width: 100%;
}
.closer svg {
  height: 30px;
}
.closer svg path {
  fill: var(--primary-bg-color);
}
