/** @format */

.mapSvg {
  width: 100%;
  height: auto;
  transition: transform 0.8s ease, opacity 0.5s ease;
  position: relative;
  left: 50%;
  transform: translate(-50%, 2%);
}

.mapSvg.offset {
  transform: translate(-70%, 2%);
}

.mapSvg .map_svg__main-group {
  transform: scale(1.1) translate(0px, 0px);
}

.mapSvg path {
  fill: white !important;
  fill-opacity: 1 !important;
  stroke: rgba(88, 121, 243, 1) !important;
  stroke-width: 3 !important;
  stroke-opacity: 0.2 !important;
}

.mapSvg tspan {
  fill: rgba(88, 121, 243, 1) !important;
  font-style: normal !important;
  font-size: 18px !important;
  cursor: default;
}

.mapSvg ellipse {
  fill: #da2e2e !important;
  stroke: rgba(88, 121, 243, 1) !important;
  stroke-width: 2 !important;
  transition: stroke-width 0.2s ease;
  cursor: pointer;
  rx: 7.5;
  ry: 8;
}

.mapSvg ellipse:hover {
  stroke-width: 5 !important;
}

@media (max-width: 1024px) {
  .mapSvg {
    transform: translate(-50%, 0);
  }
}

@media (max-width: 720px) {
  .mobileContainer {
    overflow: scroll;
    position: relative;
    border: solid 1px white;
  }
  .zoomBtn {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30px;
    z-index: 1;
  }
  .zoomBtn span {
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    color: white;
    background: #cdcdcd;
  }
  .zoomBtn span:first-child {
    border-bottom: solid 1px rgba(88, 121, 243, 1);
  }
  .mapMobile {
    transform-origin: top left;
    margin-top: -60px;
  }
}
